
persons
{
background-color: #ffffff;
width: 100%;
}
basic_information,identity,remarks
{
display: block;
margin-bottom: 20pt;
margin-left: 0;
font-size: 1em;
}
name,age,sex,hometown,nationality,iden_id,speciality,hobby
{
display: block;
margin-bottom: 20pt;
margin-left: 0;
font-size: 2em;
}